@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico'); /*заголовок*/

h1 {
    font-family: Pacifico;
	font-size: 60px;
	text-align: left;
	color: #4ea6f1;
}

h2 {
    font-family: Pacifico;
	font-size: 30px;
	text-align: left;
	color: #6eb9f9;
}

header > p {
    font-family: Montserrat;
	font-size: 20px;
	text-align: justify;
}

li > a {
    font-family: Montserrat;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

p {
   font-family: Montserrat;
	font-size: 14px;
	text-align: justify; 
}















